extends layout

block content
  h1 #{title}
  p.js-now-playing Nothing
  p.js-status

  .control
    a.button.js-pause Pause
  .control
    a.button.js-play Play
  .control
    a.button.js-next Next
  .control
    a.button.js-previous Previous