doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width')
    script(src='/js/jquery-1.9.1.js')
    script(src='/js/application.js')
    script(src='/socket.io/socket.io.js')
  body
    block content